@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    color: #464646;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    
}
#start{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    z-index: 9999;
    overflow: hidden;
}
#start img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}
#header{
    width: 100%;
    height: 150px;
}
#header_nav{
    width: 30%;
    float: left;
    margin: 15px 0 0 90px;
    display: none;
}

#header_nav p{
    display: inline-block;
    font-size: 40px;
    padding: 0 15px 0 15px;
    color: #464646;
    font-family: 'Rajdhani', sans-serif;
}
#back{
    width: 30%;
    float: right;
    margin:30px 0 0 0
}
#back img{
    float: right;
    margin: 0 40px 0 0;
    opacity: 0.7;
}

#section{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#intro{
    width: 100%;
    position: absolute;
    top: 130px;
    left: 500px;
    transform:translate(-50%,-50%);
    display: none;
}
#intro h1{
    font-size: 60px;
    text-align: right;
    color: #e7e7e7;
    margin: 0 0 0 160px;
    line-height: 1.4;
    font-family: 'Rajdhani', sans-serif;
}
#intro h1:nth-child(1):hover{
    color: #464646;
}
#intro h1:nth-child(2):hover{
    color: #464646;
}
#intro h1:nth-child(3):hover{
    color: #464646;
}

#cont1{
    position: absolute;
    top: 300px;
    left: 200px;
    width: 700px;
    height: 400px;
    display: none;
}

#cont1_left{
    float: left;
}

#cont1_right{
    width: 250px;
    height: 300px;
    float: left;
    margin: 0 0 0 200px;
}
#cont1_right h3{
    padding: 10px 0;
    font-weight: bold;
}
#cont1_right p{
    padding: 5px 0;
    font-weight: bold;
}

#cont2{
    position: absolute;
    top: 700px;
    right: 200px;
    width: 700px;
    height: 400px;
}

#cont2_left{
    float: right;
}

#cont2_left h3{
    padding: 10px 0;
    font-weight: bold;
}
#cont2_left p{
    padding: 5px 0;
    font-weight: bold;
}

#cont2_right{
    float: right;
    margin: 0 0 0 200px;
}

#cont3{
    position: absolute;
    top: 1100px;
    left: 200px;
    width: 700px;
    height: 400px;
}

#cont3_left{
    float: left;
}

#cont3_right{
    float: left;
    margin: 0 0 0 200px;
}


#cont4{
    position: absolute;
    top: 1500px;
    right: 200px;
    width: 700px;
    height: 400px;
}

#cont4_left{
    float: right;
}

#cont4_right{
    float: right;
    margin: 0 0 0 200px;
}


